@using Rise.Web.Models;
@model IEnumerable<ProductDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="banner-area">
	<div class="container">
		<div class="row fullscreen align-items-center justify-content-start">
			<div class="col-lg-12">
				<div class="active-banner-slider owl-carousel">
					@foreach (var item in Model)
					{
						@if (item.Description == "New")
						{
							<div class="row single-slide">
								<div class="col-lg-5">
									<div class="banner-content">
										<h1>@item.Description New <br>Collection!</h1>
										<p>
											@item.Name
										</p>
										<div class="add-bag d-flex align-items-center">
											<a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-productId="@item.ProductId" class="add-btn"><span class="lnr lnr-cross"></span></a>
											<span class="add-text text-uppercase">Add to Bag</span>
										</div>
									</div>
								</div>
								<div class="col-lg-7">
									<div class="banner-img">
										<img class="img-fluid" src="~/Uploads/@item.ImageUrl" alt="@item.ImageUrl">
									</div>
								</div>
							</div>
						}

					}
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->
<!-- start features Area -->
<section class="features-area section_gap">
	<div class="container">
		<div class="row features-inner">
			<!-- single features -->
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-features">
					<div class="f-icon">
						<img src="~/img/features/f-icon1.png" alt="">
					</div>
					<h6>Free Delivery</h6>
					<p>Free Shipping on all order</p>
				</div>
			</div>
			<!-- single features -->
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-features">
					<div class="f-icon">
						<img src="~/img/features/f-icon2.png" alt="">
					</div>
					<h6>Return Policy</h6>
					<p>Free Shipping on all order</p>
				</div>
			</div>
			<!-- single features -->
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-features">
					<div class="f-icon">
						<img src="~/img/features/f-icon3.png" alt="">
					</div>
					<h6>24/7 Support</h6>
					<p>Free Shipping on all order</p>
				</div>
			</div>
			<!-- single features -->
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-features">
					<div class="f-icon">
						<img src="~/img/features/f-icon4.png" alt="">
					</div>
					<h6>Secure Payment</h6>
					<p>Free Shipping on all order</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end features Area -->
<!-- Start category Area -->
<!-- End category Area -->
<!-- start product Area -->
<section class="owl-carousel active-product-area section_gap">
	<!-- single product slide -->
	<div class="single-product-slider">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Shoes</h1>
						
					</div>
				</div>
			</div>
			<div class="row">
				<!-- single product -->
				@foreach (var item in Model)
				{
					@if (item.CategoryName == "Shoe")
					{
						<div class="col-lg-3 col-md-6">
							<div class="single-product">
								<a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-productId="@item.ProductId"><img class="img-fluid" src="~/Uploads/@item.ImageUrl" alt="@item.ImageUrl"></a>
								<div class="product-details">
									<h6>
										@item.Name
									</h6>
									<div class="price">
										<h6>$@item.Price</h6>
									</div>
									<div class="prd-bottom">

										<a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-productId="@item.ProductId" class="social-info">
											<span class="lnr lnr-move"></span>
											<p class="hover-text">view more</p>
										</a>
									</div>
								</div>
							</div>
						</div>
					}
				}
				<!-- single product -->
			</div>
		</div>
	</div>
	<!-- single product slide -->
	<div class="single-product-slider">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Desserts & Foods</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- single product -->
				@foreach (var item in Model)
				{
					@if (item.CategoryName == "Dessert" || item.CategoryName == "Food")
					{
						<div class="col-lg-3 col-md-6">
							<div class="single-product">
								<a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-productId="@item.ProductId"><img class="img-fluid" src="~/Uploads/@item.ImageUrl" alt="@item.ImageUrl"></a>
								<div class="product-details">
									<h6>
										@item.Name
									</h6>
									<div class="price">
										<h6>$@item.Price</h6>

									</div>
									<div class="prd-bottom">
										<a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-productId="@item.ProductId" class="social-info">
											<span class="lnr lnr-move"></span>
											<p class="hover-text">view more</p>
										</a>
									</div>
								</div>
							</div>
						</div>
					}

				}
				<!-- single product -->
			</div>
		</div>
	</div>
</section>



























